extends ../layouts/base

block content
  .container
    .intro
      .image
        img(src='/img/contacto.png')
      .contacto
        p.whiteColor  CONTACTO
    .infoContent
      if enquirySubmitted
        .formContact
          h2 Gracias por ponerse en 
            strong contacto.
      else
        form.formContact(method='post')
          each val in validationErrors
            each val1 in val
              span=val1
          input(type='hidden', name='action', value='contact')
          h2 FORMULARIO DE 
            strong CONTACTO Y NEGOCIOS
          .input
            label &#xe806; 
              strong NOMBRE O EMPRESA
            input(type='text', name='name.full', value=formData['name.full'])
          .input
            label &#xe803; 
              strong TELÉFONO O CELULAR
            input(type='text', name='phone', value=formData.phone)
          .input
            label &#xe800; 
              strong CORREO ELECTRÓNICO
            input(type='email', name='email', value=formData.email)
          .input
            label &#xe808; 
              strong DIRECCIÓN
            input(type='text', name='address', value=formData.address)
          .input
            label &#xe804; 
              strong PÁGINA WEB
            input(type='text', name='pageweb', value=formData.pageweb)
          .input
            label &#xe80A; 
              strong COMENTARIOS
            textarea(name='comment', rows="8")= formData.comment
          .button
            button(type='submit') ENVIAR
      .share
        img(src="/img/logodorado.svg")
        .instagram
          span
          .user
            span#user @
            span.icon &#xf16d;
          .profile
            .counts
              p#post
                span POST
              p#follower
                span SEGUIDORES
              p#following
                span SIGUIENDO
            .media#media
            .button
              a.whiteColor(href="https://www.instagram.com/trapitosalsolsw/", target="_blank") FOLLOW

block js
  script(src='https://cdn.jsdelivr.net/jquery/3.1.0/jquery.min.js')
  script(src='js/instagram.js')
