extends ../layouts/base

block content
  .container
    .slider
      .images
        img(src='/img/portada.jpg')
      .logo
        img(src='/img/logoportada.svg')
    if data.Categorieslinea.length > 0
      .categories
        each cat in data.Categorieslinea
          .item
            img(src=cat._.coverImage.thumbnail(600,600))
            .content
              .meta
               .button 
                a(href="/store/"+cat.line.key+"/"+cat.key)= cat.name
  .coleccion
    .info
      h2.goldColorDark Nueva Colección
      h2.whiteColor.shadow Caribe 
        br 
        |Sweet 
        span.greenColorDark 2016
      .redes
        p CONOCENOS MÁS SIGUIENDONOS 
        p   EN NUESTRAS 
          strong REDES SOCIALES
        .icons
          a(href="#")
            img(src='/img/facebook.svg')
          a(href="#")
            img(src='/img/twitter.svg')
          a(href="#")
            img(src='/img/instagram.svg')
          a(href="#")
            img(src='/img/youtube.svg')
    .button
      a(href="/store") Colección 2016
    .instagram
      span
      .user
        span#user @
        span.icon &#xf16d;
      .profile
        .counts
          p#post
            span POST
          p#follower
            span SEGUIDORES
          p#following
            span SIGUIENDO
        .media#media
        .button
          a.whiteColor(href="https://www.instagram.com/trapitosalsolsw/", target="_blank") FOLLOW

block js
  script(src='https://cdn.jsdelivr.net/jquery/3.1.0/jquery.min.js')
  script(src='js/instagram.js')
