extends ../layouts/base
block head
  link(rel='stylesheet', href='/css/flexslider.css')
block content
  .subnav.container 
    ul
      each line in data.lineas
        li(class=data.linea && data.linea.id == line.id ? 'active' : false)
          a(href="/store/"+line.key)= line.name
  .container
    .intro
      .image
        img(src='/img/store.png')
      .store
        p.name.whiteColor  Colección
          br
          span.year.goldColorDark 2016
    .productDetail
      if (data.products.state == "Publicado")
        .gallery
          #slider.flexslider
            ul.slides
              each img in data.products.images
                li
                  img(src=img.secure_url)
          #carousel.flexslider
            ul.slides
              each img in data.products.images
                li
                  img(src=img.thumbnail(400,400,{secure: true}))
        .details
          h2= data.products.name
      else
        .bkasd Este articulo no esta disponible
    //-   if data.Categorieslinea && data.Categorieslinea.length > 0
    //-     .filter
    //-       .form
    //-         h4 FILTRAR CATÁLOGO 
    //-           span &#xe802;
    //-         span Categoría
    //-         .options
    //-           .checkbox
    //-             each cat in data.Categorieslinea
    //-               a(href=href="/store/"+data.linea.key+"/"+cat.key, class=data.category && data.category.id == cat.id ? 'active' : false)
    //-                 span
    //-                 = cat.name
      //- .goods
      //-   if data.products
      //-     if data.products.results.length > 0
      //-       each product in data.products.results
      //-         +product(product)
      //-     else
      //-       span No hay productos
      //-   else
      //-     span No hay productos
block js
  //- script(src='/js/jquery.min.js')
  script(src='/js/jquery.flexslider-min.js')
  script(src='/js/flexslider.js')
