extends ../layouts/base

mixin product(product)
  .card 
    img(src=product._.coverImage.thumbnail(600,600,{secure: true}))
    .info
      .details 
        p= product.name
          span Coleccion 2016
        a(href="/products/"+product.slug) &#xe801;
      .share 
        a(href="#") CONSULTAR DISPONIBILIDAD
        .redes
          a.red(href="#")
            img(src="/img/facebook.svg")
          a.red(href="#") 
            img(src="/img/twitter.svg")
            
block content
  .subnav.container 
    ul
      each line in data.lineas
        li(class=data.linea && data.linea.id == line.id ? 'active' : false)
          a(href="/store/"+line.key)= line.name
  .container
    .intro
      .image
        img(src='/img/store.png')
      .store
        p.name.whiteColor  Colección
          br
          span.year.goldColorDark 2016
    .storePrimary
      if data.Categorieslinea && data.Categorieslinea.length > 0
        .filter
          .form
            h4 FILTRAR CATÁLOGO 
              span &#xe802;
            span Categoría
            .options
              .checkbox
                each cat in data.Categorieslinea
                  a(href=href="/store/"+data.linea.key+"/"+cat.key, class=data.category && data.category.id == cat.id ? 'active' : false)
                    span
                    = cat.name
      .goods
        if data.products
          if data.products.results.length > 0
            each product in data.products.results
              +product(product)
          else
            span No hay productos
        else
          span No hay productos
