include ../mixins/flash-messages

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= title || 'Trapitos al Sol'
    link(rel='stylesheet', href='/css/main.css')
    
    link(rel="apple-touch-icon", sizes="180x180", href="/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="/favicon/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/favicon/manifest.json")
    link(rel="mask-icon", href="/favicon/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="theme-color", content="#ffffff")
    //- This file provides the default styling for the KeystoneJS Content Editor
    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
    
    block head
  body
    .navbar.container
      .logo
        img(src='/img/logoblanco.svg')
      .menu
        ul
          each link in navLinks
            li(class=(section == link.key ? 'active' : null))
              a(href=href=link.href)= link.label
      .menu.menu-login
        ul
          if user
            if user.canAccessKeystone
              li: a(href='/keystone') Dashboard
            li: a(href='/keystone/signout') Cerrar Sesion
          else
            li: a(href='/keystone/signin') Iniciar Sesion
    //- each cate in categories
    //-   span= cate
    block content
    
    .footer
      .newsletter
        div.whiteColor SUSCRÍBETE A NUESTRO 
          strong NESWLETTER
        div.whiteColor PARA QUE CONOZCAS TODAS NUESTRAS 
          strong COLECCIONES Y DESCUENTOS 
          form#newsletter(method='post')
            input(type='hidden', name='action', value='newsletter')
            input(type='email' name='email' placeholder!="&#xe800; CORREO ELECTRÓNICO")
            button ENVIAR
        .author.whiteColor Desarrollado por 
          a.whiteColor(href="//globinn.co" target='_blank') Globinn
      .nav
        .item
          a(href="") Nosotros
          a(href="") Contacto
          a(href="") Empleo
          a(href="") Garantías y Devoluciones
          a(href="") Preguntas frecuentes
          a(href="") Tiendas
          a(href="") Términos y Condiciones
        .redes Redes Sociales
          a(href="#")
            img(src='/img/facebook.svg')
          a(href="#")
            img(src='/img/twitter.svg')
          a(href="#")
            img(src='/img/instagram.svg')
          a(href="#")
            img(src='/img/youtube.svg')
    script(src='/js/jquery.min.js')
    block js
