/* normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: 'primary';
  font-style: normal;
  src: url("/fonts/primary.ttf");
}
@font-face {
  font-family: 'secundary';
  font-style: normal;
  src: url("/fonts/secundary.ttf");
}
@font-face {
  font-family: 'icons';
  src: url("/fonts/icons.ttf");
  src: url("/fonts/icons.woff") format('woff');
}
body {
  font-family: primary;
  letter-spacing: 1px !important;
}
.goldColor {
  color: #d0ad2c;
}
.goldColorDark {
  color: #c93;
}
.whiteColor {
  color: #fff;
}
.greenColorDark {
  color: #366;
}
.shadow {
  text-shadow: 0px 0px 0.5rem rgba(61,61,61,0.31);
}
.container {
  padding: 0 4em;
}
.navbar {
  display: flex;
  background-color: #d0ad2c;
  align-items: center;
  justify-content: space-around;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.navbar > .logo > img {
  max-height: 3em;
}
.navbar > .menu {
  width: 60%;
}
.navbar > .menu > ul {
  display: flex;
  justify-content: space-around;
}
.navbar > .menu > ul > li {
  padding: 0.3em 0.6em;
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: 0.3s ease-in all;
}
.navbar > .menu > ul > li.active,
.navbar > .menu > ul > li:hover {
  border-color: #fff;
}
.navbar > .menu > ul > li > a {
  text-decoration: none;
  color: #fff;
}
.navbar > .menu > ul > span {
  padding: 0.3em 0.6em;
}
.navbar > .menu-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.slider {
  margin: 2em 0;
  position: relative;
  height: 450px;
}
.slider > .images {
  width: 100%;
  height: 100%;
  border-radius: 0.2em;
}
.slider > .images > img {
  width: 100%;
  height: 100%;
  border-radius: 0.2em;
  object-fit: cover;
}
.slider > .logo {
  background-color: rgba(77,77,77,0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.categories > .item {
  position: relative;
  display: flex;
  width: 32%;
  margin-bottom: 1em;
}
.categories > .item:nth-child(3n-2) {
  margin-right: 0.5em;
}
.categories > .item:nth-child(3n-1) {
  margin-right: 0.25em;
  margin-left: 0.25em;
}
.categories > .item:nth-child(3n) {
  margin-left: 0.5em;
}
.categories > .item > img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}
.categories > .item > .content {
  border-radius: 1em;
  background-color: rgba(77,77,77,0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories > .item > .content > .meta {
  width: 75%;
  height: 75%;
  padding: 1em;
  border: 5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories > .item > .content > .meta > .button {
  background: #fff;
  padding: 0.9em 2.5em;
  transition: 0.2s ease-in all;
}
.categories > .item > .content > .meta > .button > a {
  text-decoration: none;
  color: #c93;
  text-transform: uppercase;
  font-weight: bold;
}
.categories > .item > .content > .meta > .button:hover {
  background-color: #c93;
}
.categories > .item > .content > .meta > .button:hover > a {
  color: #fff;
}
.coleccion {
  display: flex;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 13em;
  align-items: center;
  justify-content: space-around;
  background-image: url("/img/fondo1.png");
  background-size: cover;
  background-position: center;
}
.coleccion > .info {
  width: 30%;
}
.coleccion > .info > h2 {
  font-size: 4em;
  margin: 0;
  margin-bottom: 5px;
  line-height: 0.8em;
  text-transform: uppercase;
}
.coleccion > .info > h2 > span {
  text-shadow: none;
  font-weight: lighter;
  font-family: secundary;
}
.coleccion > .info > .redes {
  margin-top: 0.8em;
  font-size: 1.4em;
  font-family: secundary;
}
.coleccion > .info > .redes > p {
  margin: 0;
}
.coleccion > .info > .redes > p > strong {
  font-family: primary;
}
.coleccion > .info > .redes > .icons {
  margin-top: 0.5em;
}
.coleccion > .info > .redes > .icons > a {
  text-decoration: node;
  margin-right: 0.8rem;
  transition: 0.2s ease-in all;
}
.coleccion > .info > .redes > .icons > a:hover {
  padding: 5px;
}
.coleccion > .button {
  width: 17%;
  text-align: center;
}
.coleccion > .button > a {
  text-decoration: none;
  color: #fff;
  background-color: #c93;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  transition: 0.3s ease-in all;
}
.coleccion > .button > a:hover {
  font-size: 1.3em;
}
.coleccion > .instagram {
  width: 30%;
}
.footer > .newsletter {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  padding-bottom: 3em;
  align-items: center;
  justify-content: center;
  background-image: url("/img/footer.svg");
  background-size: cover;
  background-position: bottom;
}
.footer > .newsletter > div {
  margin: 0;
  font-size: 1.2em;
  font-family: secundary;
  font-weight: bold;
}
.footer > .newsletter > div > strong {
  font-family: primary;
}
.footer > .newsletter > div > form {
  width: 100%;
  text-align: center;
}
.footer > .newsletter > div > form > input {
  color: #c93;
  display: block;
  font-family: icons, primary;
  margin-top: 0.5em;
  width: 100%;
  border: none;
  border-radius: 0.4em;
  text-align: center;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.footer > .newsletter > div > form > input::placeholder {
  color: #e6e6e6;
}
.footer > .newsletter > div > form > button {
  letter-spacing: 1px;
  font-family: primary;
  margin-top: 0.5em;
  background-color: #c93;
  padding: 0.4em 1em;
  border: none;
  border-radius: 0.4em;
}
.footer > .newsletter > .author {
  margin-top: 6em;
  font-size: 0.7em;
}
.footer > .newsletter > .author > a {
  text-decoration: none;
}
.footer > .newsletter > .author > a:hover {
  text-decoration: underline;
}
.footer > .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #666;
  padding: 0.2em 2em;
  font-size: 0.8em;
}
.footer > .nav > .item > a {
  color: #fff;
  text-decoration: none;
  margin-right: 0.4em;
}
.footer > .nav > .item > a:hover {
  text-decoration: underline;
}
.footer > .nav > .redes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bcbcbc;
}
.footer > .nav > .redes > a {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.footer > .nav > .redes > a > img {
  height: 2em;
  width: auto;
}
.footer > .nav > .redes > a > img:hover {
  height: 1.8em;
}
.subnav {
  background-color: #366;
}
.subnav > ul {
  margin: 0;
  display: flex;
  padding: 0;
}
.subnav > ul > li {
  padding: 0.6em 0;
  margin-right: 0.5em;
  display: inline-block;
  transition: 0.1s ease-in all;
}
.subnav > ul > li > a {
  margin: 0.6em;
  text-decoration: none;
  color: #fff;
  transition: 0.1s ease-in all;
}
.subnav > ul > li.active,
.subnav > ul > li:hover {
  border-bottom: 0.1em solid #fff;
  padding: 0.6em 0;
  background-color: #295353;
}
.subnav > ul > li.active > a,
.subnav > ul > li:hover > a {
  color: #d0ad2c;
  font-weight: bold;
}
.intro {
  height: 13em;
  position: relative;
  border-bottom: 2px solid #e6e6e6;
  padding-top: 2em;
  padding-bottom: 0.5em;
}
.intro > .image {
  width: 100%;
  height: 100%;
}
.intro > .image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.intro > .store,
.intro .contacto {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.intro > .store > p,
.intro .contacto > p {
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
  margin-right: 2em;
  font-weight: bold;
  display: block;
  line-height: 1.3em;
}
.intro > .store > p > span,
.intro .contacto > p > span {
  top: -20px;
  font-size: 2.3em;
  color: #ff9;
}
.intro > .contacto {
  justify-content: center;
}
.intro > .contacto > p {
  border: 2px solid #fff;
  padding: 0.3em 0.8em;
  font-size: 2.8em;
  margin: 0;
}
.storePrimary {
  padding-bottom: 2em;
  border-bottom: 2px solid #e6e6e6;
  margin-top: 1em;
  margin-bottom: 2.5em;
  display: flex;
  justify-content: space-between;
}
.storePrimary > .filter {
  flex-basis: 18%;
}
.storePrimary > .filter > .form {
  display: flex;
  flex-direction: column;
}
.storePrimary > .filter > .form > h4 {
  background: #366;
  border: none;
  color: #fff;
  border-radius: 0.2em;
  padding: 0.6em;
  text-align: justify;
}
.storePrimary > .filter > .form > h4 > span {
  text-align: right;
  font-family: icons;
  float: right;
}
.storePrimary > .filter > .form > span {
  color: #4d4d4d;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  padding-left: 1.2em;
  margin: 0.6em 0;
}
.storePrimary > .filter > .form > .options {
  border: 2px solid #ebebeb;
  border-radius: 0.4em;
  padding: 0.6em 1em;
}
.storePrimary > .filter > .form > .options > .checkbox {
  display: flex;
  flex-direction: column;
}
.storePrimary > .filter > .form > .options > .checkbox > a {
  text-decoration: none;
  color: #4d4d4d;
}
.storePrimary > .filter > .form > .options > .checkbox > a span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/img/check.png") center top no-repeat;
  vertical-align: top;
  margin-right: 4px;
  margin-bottom: 0.4em;
}
.storePrimary > .filter > .form > .options > .checkbox > a.active span {
  background: url("/img/checked.png") left top no-repeat;
}
.storePrimary > .goods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 80%;
}
.storePrimary > .goods > .card {
  margin-bottom: 2em;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}
.storePrimary > .goods > .card > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
  border-radius: 0.5em 0.5em 0 0;
}
.storePrimary > .goods > .card > .info {
  margin: 0;
  padding: 0.5em 0.7em;
  border: 2px solid #e6e6e6;
  border-radius: 0 0 0.5em 0.5em;
}
.storePrimary > .goods > .card > .info > .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.storePrimary > .goods > .card > .info > .details > p {
  margin: 0;
  font-weight: bold;
  color: #4d4d4d;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
.storePrimary > .goods > .card > .info > .details > p > span {
  color: #b3b3b3;
  font-size: 0.7em;
  text-transform: uppercase;
}
.storePrimary > .goods > .card > .info > .details > a {
  font-family: icons;
  text-decoration: none;
  color: #ccc;
  font-size: 1.5em;
}
.storePrimary > .goods > .card > .info > .details > a:hover {
  color: #366;
}
.storePrimary > .goods > .card > .info > .share {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.storePrimary > .goods > .card > .info > .share > a {
  flex-basis: 70%;
  font-weight: bold;
  font-size: 0.7em;
  color: #366;
}
.storePrimary > .goods > .card > .info > .share > .redes {
  flex-basis: 30%;
}
.storePrimary > .goods > .card > .info > .share > .redes > a {
  text-decoration: none;
}
.storePrimary > .goods > .card > .info > .share > .redes > a > img {
  max-width: 40%;
}
.infoContent {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
}
.infoContent > .formContact {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.infoContent > .formContact > .button > button {
  background-color: #3c3;
  font-family: secundary;
  padding: 0.3em 1em;
  border: none;
  border-radius: 0.3em;
  color: #fff;
}
.infoContent > .formContact > .button > button:hover {
  border-bottom: 3px solid #0ba433;
  font-weight: bold;
}
.infoContent > .formContact > h2 {
  color: #366;
  font-family: secundary;
  font-weight: normal;
}
.infoContent > .formContact > .input {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.9em;
}
.infoContent > .formContact > .input > label {
  padding-left: 0.8em;
}
.infoContent > .formContact > .input > label,
.infoContent > .formContact > .input input,
.infoContent > .formContact > .input textarea {
  color: #999;
  font-family: icons, primary;
}
.infoContent > .formContact > .input > input,
.infoContent > .formContact > .input textarea {
  border: 2px solid #eee;
  border-radius: 0.3em;
  color: #282828;
  padding: 0.5em;
}
.infoContent > .formContact > .input > input::placeholder,
.infoContent > .formContact > .input textarea::placeholder {
  color: #e6e6e6;
  font-size: 0.9em;
}
.infoContent > .formContact > .input > textarea {
  resize: none;
}
.infoContent > .share {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instagram {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-top: 1em;
}
.instagram > .user {
  background-color: #f06;
  color: #fff;
  font-family: icons, secundary;
  text-transform: uppercase;
  padding: 0.5em 0.7em;
  border-radius: 0.5em 0.5em 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
}
.instagram > .user > .icon {
  font-size: 1.5em;
}
.instagram > .profile {
  border-bottom: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-radius: 0 0 0.5em 0.5em;
  padding: 0.5em 0.5em;
  background-color: #fff;
}
.instagram > .profile > .counts {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.9em;
}
.instagram > .profile > .counts > p {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  margin: 0 0.5em;
  font-family: secundary;
  font-weight: bold;
}
.instagram > .profile > .counts > p > span {
  font-weight: normal;
}
.instagram > .profile > .media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.6em;
}
.instagram > .profile > .media > img {
  width: 31%;
  height: 31%;
  margin-bottom: 0.8em;
}
.instagram > .profile > .button {
  width: 100%;
  text-align: center;
  margin-bottom: 0.6em;
}
.instagram > .profile > .button > a {
  padding: 0.5em 0.7em;
  background-color: #466794;
  text-decoration: none;
  border-radius: 0.3em;
  font-weight: bold;
}
.instagram > .profile > .button > a:hover {
  text-decoration: underline;
}
.productDetail {
  margin-top: 3em;
  display: flex;
}
.productDetail > .gallery {
  width: 36%;
  margin-right: 2em;
}
.productDetail > .details > h2 {
  margin: 0.2em 0 0;
  font-size: 2.5em;
  font-weight: bold;
  color: #366;
}
