@import "normalize.styl"

@font-face
  font-family 'primary'
  font-style normal
  src url(/fonts/primary.ttf)
  // letter-spacing: 104px !important

@font-face
  font-family 'secundary'
  font-style normal
  src url(/fonts/secundary.ttf)

@font-face
  font-family 'icons'
  src url(/fonts/icons.ttf)
  src url(/fonts/icons.woff) format('woff')

body
  font-family: primary;
  letter-spacing: 1px !important
hwall()
  width 100%
  height 100%

soprepuesto()
  background-color rgba(#4D4D4D, 0.4)
  position absolute
  top 0
  left 0
  hwall()
  display flex
  align-items center
  justify-content center

goldColor = #D0AD2C
goldColorDark = #CC9933
whiteColor = #FFF
greenColorDark = #336666

.goldColor
  color goldColor
.goldColorDark
  color goldColorDark
.whiteColor
  color whiteColor
.greenColorDark
  color greenColorDark

.shadow
  text-shadow: 0px 0px .5rem rgba(61, 61, 61, 0.31);

.container
  padding 0 4em

.navbar
  display flex
  background-color goldColor
  align-items center
  justify-content space-around
  padding-top .4em
  padding-bottom .4em
  & > .logo
    & > img
      max-height 3em
  & > .menu
    width 60%
    & > ul
      display flex
      justify-content space-around
      & > li
        padding .3em .6em
        display inline-block
        text-transform uppercase
        border 2px solid transparent
        transition: .3s ease-in all
        &.active, &:hover
          border-color whiteColor
        & > a
          text-decoration none
          color whiteColor
      & > span
        padding .3em .6em
  & > .menu-login
    display: flex
    align-items: center;
    justify-content: flex-end


.slider
  margin 2em 0
  position relative
  height 450px
  & > .images
    hwall()
    border-radius: .2em
    & > img
      hwall()
      border-radius: .2em
      object-fit cover
  & > .logo
    soprepuesto()

.categories
  display flex
  flex-wrap wrap
  justify-content space-between
  & > .item
    position: relative;
    display: flex;
    width: 32%
    margin-bottom 1em
    &:nth-child(3n-2)
      margin-right: .5em
    &:nth-child(3n-1)
      margin-right: .25em
      margin-left: .25em
    &:nth-child(3n)
      margin-left: .5em
    & > img
      hwall()
      border-radius: 1em
    & > .content
      border-radius: 1em
      soprepuesto()
      & > .meta
        width: 75%
        height: 75%
        padding:1em
        border: 5px solid whiteColor
        display flex
        align-items center
        justify-content center
        & > .button
          background: whiteColor
          padding: .9em 2.5em
          transition: .2s ease-in all
          & > a
            text-decoration: none
            color goldColorDark
            text-transform: uppercase;
            font-weight: bold;
          &:hover
            background-color: goldColorDark
            & > a
              color: whiteColor
.coleccion
  display: flex
  width: 100%
  padding-top: 3em
  padding-bottom: 13em
  align-items center
  justify-content: space-around;
  background-image: url('/img/fondo1.png');
  background-size: cover;
  background-position: center;
  & > .info
    width: 30%
    & > h2
      font-size: 4em
      margin: 0
      margin-bottom: 5px
      line-height: .8em
      text-transform: uppercase;
      & > span
        text-shadow: none
        font-weight: lighter;
        font-family: secundary
    & > .redes
      margin-top: .8em
      font-size: 1.4em
      font-family: secundary
      & > p
        margin: 0
        & > strong
          font-family: primary
      & > .icons
        margin-top: .5em
        & > a
          text-decoration: node
          margin-right: .8rem
          transition: .2s ease-in all
          &:hover
            padding: 5px

  & > .button
    width: 17%
    text-align: center;
    & > a
      text-decoration: none
      color: whiteColor
      background-color: goldColorDark
      padding: 1rem
      text-transform: uppercase
      font-weight: bold
      font-size: 1.2em
      transition: .3s ease-in all
      &:hover
        font-size: 1.3em
  & > .instagram
    width: 30%

.footer
  & > .newsletter
    display: flex
    flex-direction: column;
    padding-top: 3em
    padding-bottom: 3em
    align-items center
    justify-content: center;
    background-image: url('/img/footer.svg');
    background-size: cover;
    background-position: bottom;
    & > div
      margin: 0
      font-size: 1.2em
      font-family: secundary
      font-weight: bold
      & > strong
        font-family: primary
      & > form
        width: 100%
        text-align: center;
        & > input
          color: goldColorDark
          display: block;
          font-family: icons, primary
          margin-top: .5em
          width: 100%
          border none
          border-radius: .4em
          text-align: center
          padding-top: .4em
          padding-bottom: .4em
          &::placeholder
            color: #E6E6E6
        & > button
          letter-spacing: 1px
          font-family: primary
          margin-top: .5em
          background-color: goldColorDark
          padding: .4em 1em
          border: none
          border-radius: .4em
    & > .author
      margin-top: 6em
      font-size: .7em
      & > a
        text-decoration: none
        &:hover
          text-decoration: underline;
  & > .nav
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #666666
    padding: .2em 2em
    font-size: .8em
    & > .item
      & > a
        color whiteColor
        text-decoration: none;
        margin-right: .4em
        &:hover
          text-decoration: underline;
    & > .redes
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #bcbcbc
      & > a
        margin-left: .25em
        margin-right: .25em
        & > img
          height: 2em
          width: auto;
          &:hover
            height: 1.8em
.subnav
  background-color: greenColorDark
  & > ul
    margin: 0
    display flex
    padding: 0
    & > li
      padding: .6em 0
      margin-right: .5em
      display inline-block
      transition: .1s ease-in all
      & > a
        margin: .6em
        text-decoration: none
        color whiteColor
        transition: .1s ease-in all
      &.active
      &:hover
        border-bottom: .1em solid whiteColor
        padding: .6em 0
        background-color: #295353
        & > a
          color goldColor
          font-weight: bold;

.intro
  height 13em
  position: relative;
  border-bottom: 2px solid #E6E6E6
  padding-top: 2em
  padding-bottom: .5em
  & > .image
    hwall()
    & > img
      hwall()
      object-fit: cover;
      object-position: bottom
  & > .store, .contacto
    display: flex
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top 0
    hwall()
    & > p
      font-size: 2.4em
      text-transform: uppercase
      text-align: center
      margin-right: 2em
      font-weight: bold
      display: block
      line-height: 1.3em
      & > span
        top -20px
        font-size: 2.3em
        color #FFFF99
  & > .contacto
    justify-content: center
    & > p
      border: 2px solid whiteColor
      padding: .3em .8em
      font-size: 2.8em
      margin: 0
.storePrimary
  padding-bottom: 2em
  border-bottom: 2px solid #E6E6E6
  margin-top: 1em
  margin-bottom: 2.5em
  display: flex;
  justify-content: space-between;
  & > .filter
    flex-basis: 18%
    & > .form
      display: flex;
      flex-direction: column;
      & > h4
        background: greenColorDark
        border: none
        color: whiteColor
        border-radius: .2em
        padding: .6em
        text-align: justify;
        & > span
          text-align: right;
          font-family: icons
          float: right;
      & > span
        color #4D4D4D
        text-transform: uppercase;
        font-size: .8em
        font-weight: bold;
        padding-left: 1.2em
        margin: .6em 0
      & > .options
        border: 2px solid #EBEBEB
        border-radius: .4em
        padding: .6em 1em
        & > .checkbox
          display: flex
          flex-direction: column;
          & > a
            text-decoration none
            color #4D4D4D
            & span
              display: inline-block;
              width: 20px;
              height: 20px;
              background: url(/img/check.png) center top no-repeat;
              vertical-align: top;
              margin-right: 4px
              margin-bottom: .4em
            &.active
              & span
                background: url(/img/checked.png) left top no-repeat
  & > .goods
    display flex
    flex-direction: row;
    flex-wrap wrap
    justify-content space-between
    flex-basis: 80%
    & > .card
      margin-bottom: 2em
      flex-basis: 30%
      display:flex;
      flex-direction: column
      & > img
        width: 100%
        height: auto
        object-fit: cover
        margin: 0
        border-radius: .5em .5em 0 0
      & > .info
        margin 0
        padding: .5em .7em
        border: 2px solid #E6E6E6
        border-radius: 0 0 .5em .5em
        & > .details
          display: flex;
          justify-content: space-between;
          align-items: center;
          & > p
            margin: 0
            font-weight: bold;
            color: #4D4D4D
            display: flex
            flex-direction: column;text-transform: uppercase
            & > span
              color: #b3b3b3
              font-size: .7em
              text-transform: uppercase;
          & > a
            font-family: icons
            text-decoration: none;
            color: #CCCCCC
            font-size: 1.5em
            &:hover
              color: greenColorDark
        & > .share
          // margin-top: -1em
          display: flex;
          justify-content: space-between;
          align-items: center;
          & > a
            flex-basis: 70%
            font-weight: bold;
            font-size: .7em
            color greenColorDark
          & > .redes
            flex-basis: 30%
            & > a
              text-decoration: none
              & > img
                max-width: 40%
.infoContent
  margin-top: 2em
  margin-bottom: 2em
  display: flex
  & > .formContact
    display: flex;
    flex-direction: column;
    flex-basis: 50%
    & > .button
      & > button
        background-color: #33CC33
        font-family: secundary
        padding: .3em 1em
        border: none
        border-radius: .3em
        color: whiteColor
        &:hover
          border-bottom: 3px solid #0BA433
          font-weight: bold;
    & > h2
      color: greenColorDark
      font-family: secundary
      font-weight: normal;
    & > .input
      display: flex;
      flex-direction: column;
      margin-bottom: .9em
      & > label
        padding-left: .8em
      & > label,input,textarea
        color: #999999
        font-family: icons,primary
      & > input,textarea
        border: 2px solid #EEEEEE
        border-radius: .3em
        color #282828
        padding: .5em
        &::placeholder
          color: #E6E6E6
          font-size: .9em
      & > textarea
        resize: none
  & > .share
    flex-basis: 50%
    display: flex;
    flex-direction: column;
    align-items: center;

.instagram
  display: flex;
  flex-direction: column;
  max-width: 350px
  margin-top: 1em
  & > .user
    background-color: #ff0066
    color: whiteColor
    font-family: icons, secundary
    text-transform: uppercase;
    padding: .5em .7em
    border-radius: .5em .5em 0 0
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em
    & > .icon
      font-size: 1.5em
  & > .profile
    border-bottom: 1px solid #d4d4d4
    border-left: 1px solid #d4d4d4
    border-right: 1px solid #d4d4d4
    border-radius: 0 0 .5em .5em
    padding: .5em .5em
    background-color: whiteColor
    & > .counts
      margin-top: 1em
      display: flex;
      justify-content: space-around;
      margin-bottom: .9em
      & > p
        display: flex;
        flex-direction: column-reverse;

        text-align: center;
        margin: 0 .5em
        font-family: secundary
        font-weight: bold;
        & > span
          font-weight: normal;
    & > .media
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: .6em
      & > img
        width: 31%
        height: 31%;
        margin-bottom: .8em
    & > .button
      width: 100%
      text-align: center;
      margin-bottom: .6em
      & > a
        padding: .5em .7em
        background-color: #466794
        text-decoration: none;
        border-radius: .3em
        font-weight: bold;
        &:hover
          text-decoration: underline;

.productDetail
  margin-top: 3em
  display: flex;
  & > .gallery
    width: 36%
    margin-right: 2em
  & > .details
    & > h2
      margin: .2em 0 0
      font-size: 2.5em
      font-weight: bold;
      color: greenColorDark
